<configuration>
  <spring>
    <context>
      <resource uri="config://spring/objects"/>
    </context>
    <objects xmlns="http://www.springframework.net">

      <object type="Home.aspx" parent="standardPage"/>

      <object type="StandardTemplate.master">
        <property name="CopyrightText">
          <value><![CDATA[© Copyright 2005-2006, <a href="http://www.springframework.net/" title="Spring.NET Framework">
            Spring.NET</a>, under the terms of the Apache 2.0 software license
          license.
          ]]>
          </value>
        </property>
      </object>

    </objects>
  </spring>
</configuration>