<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.WebContextHandler, Spring.Web"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
    </sectionGroup>
  </configSections>
  <spring>
    <context>
      <resource uri="web://~/Spring.config"/>
    </context>
  </spring>
  <appSettings/>
  <connectionStrings/>
  <system.web>
    <httpModules>
      <add name="SpringModule" type="Spring.Context.Support.WebSupportModule, Spring.Web"/>
    </httpModules>
    <!-- 
          Définissez compilation debug="true" pour insérer des symboles 
          de débogage dans la page compilée. Comme ceci 
          affecte les performances, définissez cette valeur à true uniquement 
          lors du développement.
      -->
    <compilation debug="true"/>
    <!--
          La section <authentication> permet la configuration 
          du mode d'authentification de sécurité utilisé par 
          ASP.NET pour identifier un utilisateur entrant. 
      -->
    <authentication mode="Windows"/>
    <!--
          La section <customErrors> permet de configurer 
          les actions à exécuter si/quand une erreur non gérée se produit 
          lors de l'exécution d'une demande. Plus précisément, 
          elle permet aux développeurs de configurer les pages d'erreur html 
          pour qu'elles s'affichent à la place d'une trace de la pile d'erreur.

      <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
          <error statusCode="403" redirect="NoAccess.htm" />
          <error statusCode="404" redirect="FileNotFound.htm" />
      </customErrors>
      -->
  </system.web>
</configuration>