<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<spring>
		<context>
			<resource uri="config://spring/objects" />
		</context>
		<objects xmlns="http://www.springframework.net">

			<!-- Page definitions -->
			<object type="Home.aspx" parent="standardPage" />
		  
		</objects>
	</spring>
</configuration>
