<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>

  <spring>

    <context>
      <resource uri="config://spring/objects" />
    </context>

    <objects xmlns="http://www.springframework.net">
      <description>An example demonstrating the event registry.</description>

      <object name="MyEventPublisher" 
              type="Spring.IocQuickStart.EventRegistry.MyEventPublisher, Spring.IocQuickStart.EventRegistry" 
              singleton="false">
        <property name="PublisherName" value="My event publisher" />
      </object>

      <object name="MyEventSubscriber" 
              type="Spring.IocQuickStart.EventRegistry.MyEventSubscriber, Spring.IocQuickStart.EventRegistry" 
              singleton="false" />

    </objects>

  </spring>

</configuration>
