<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <sectionGroup name="common">
            <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
        </sectionGroup>
        <sectionGroup name="spring">
            <section name="typeAliases" type="Spring.Context.Support.TypeAliasesSectionHandler, Spring.Core"/>
            <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core"/>
            <section name="context" type="Spring.Context.Support.WebContextHandler, Spring.Web"/>
            <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
        </sectionGroup>
    </configSections>


    <common>
        <logging>

            <factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
                <arg key="level" value="WARN" />
            </factoryAdapter>

        </logging>
    </common>

    <spring>
        <parsers>
            <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data"/>
            <parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data"/>
            <parser type="Spring.Aop.Config.AopNamespaceParser, Spring.Aop"/>
        </parsers>
    </spring>


    <appSettings>
        <add key="ConnectionString" value="Server=(local);initial catalog=quartz;Integrated Security=true"/>
    </appSettings>

</configuration>