<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>  
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Simple.TraceLoggerFactoryAdapter, Common.Logging">
        <arg key="level" value="ALL" />
      </factoryAdapter>
    </logging>
  </common>
    
  <spring>

    <parsers>
      <parser type="Spring.Remoting.Config.RemotingNamespaceParser, Spring.Services" />
    </parsers>

    <context>
      <resource uri="config://spring/objects" />

      <!-- Only one at a time ! -->

      <!-- ================================== -->
      <!-- In process (local) implementations -->
      <!-- ================================== -->
      <resource uri="assembly://Spring.Calculator.ClientApp/Spring.Calculator.ClientApp.Config.InProcess/inProcess.xml" />

      <!-- ======================== -->
      <!-- Remoting implementations -->
      <!-- ======================== -->
      <!-- Make sure 'RemoteApp' console application is running and listening. -->
      <!--<resource uri="assembly://Spring.Calculator.ClientApp/Spring.Calculator.ClientApp.Config.Remoting/cao.xml" />-->
      <!--<resource uri="assembly://Spring.Calculator.ClientApp/Spring.Calculator.ClientApp.Config.Remoting/cao-aop.xml" />-->
      <!--<resource uri="assembly://Spring.Calculator.ClientApp/Spring.Calculator.ClientApp.Config.Remoting/cao-ctor.xml" />-->
      <!--<resource uri="assembly://Spring.Calculator.ClientApp/Spring.Calculator.ClientApp.Config.Remoting/saoSingleton.xml" />-->
      <!--<resource uri="assembly://Spring.Calculator.ClientApp/Spring.Calculator.ClientApp.Config.Remoting/saoSingleton-aop.xml" />-->
      <!--<resource uri="assembly://Spring.Calculator.ClientApp/Spring.Calculator.ClientApp.Config.Remoting/saoSingleCall.xml" />-->
      <!--<resource uri="assembly://Spring.Calculator.ClientApp/Spring.Calculator.ClientApp.Config.Remoting/saoSingleCall-aop.xml" />-->

      <!-- =========================== -->
      <!-- Web Service implementations -->
      <!-- =========================== -->
      <!-- Web.Services VS2003 -->
      <!-- Make sure 'http://localhost/SpringCalculator/' web application is running -->
      <!--<resource uri="assembly://Spring.Calculator.ClientApp/Spring.Calculator.ClientApp.Config.WebServices2003/webServices.xml" />-->
      <!--<resource uri="assembly://Spring.Calculator.ClientApp/Spring.Calculator.ClientApp.Config.WebServices2003/webServices-aop.xml" />-->
      <!-- Web.Services VS2005 -->
      <!-- Make sure 'http://localhost:1643/Spring.Calculator.Web.2005/' web application is running -->
      <!--<resource uri="assembly://Spring.Calculator.ClientApp/Spring.Calculator.ClientApp.Config.WebServices2005/webServices.xml" />-->
      <!--<resource uri="assembly://Spring.Calculator.ClientApp/Spring.Calculator.ClientApp.Config.WebServices2005/webServices-aop.xml" />-->

      <!-- ================================= -->
      <!-- EnterpriseService implementations -->
      <!-- ================================= -->
      <!-- Make sure you register components with 'RegisterComponentServices' console application. -->
      <!-- resource uri="assembly://Spring.Calculator.ClientApp/Spring.Calculator.ClientApp.Config.EnterpriseServices/enterpriseServices.xml" />-->

    </context>

    <objects xmlns="http://www.springframework.net">
      <description>Definitions of objects to be exported.</description>

      <object id="ConsoleLoggingAroundAdvice" type="Spring.Aspects.Logging.ConsoleLoggingAroundAdvice, Spring.Aspects">
        <property name="ForegroundColor" value="Red" />
      </object>

    </objects>

  </spring>

</configuration>