#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*.suo
*.bak
*.log
*.[Cc]ache
[Oo]bj
[Bb]in
[Dd]ebug*/
[Rr]elease*/

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

#Project files
[Bb]uild/

#Subversion files
.svn

# Office Temp Files
~$*
