<configuration>
	<configSections>
		<sectionGroup name="common">
			<section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
		</sectionGroup>
		<sectionGroup name="spring">
			<section name="typeAliases" type="Spring.Context.Support.TypeAliasesSectionHandler, Spring.Core" />
			<section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core" />
			<section name="context" type="Spring.Context.Support.WebContextHandler, Spring.Web" />
			<section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
		</sectionGroup>
		<section name="databaseSettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	</configSections>

	<common>
		<logging>
			<!--
			You may use http://www.microsoft.com/technet/sysinternals/Miscellaneous/DebugView.mspx
			for viewing TraceLogger output
			-->
			<factoryAdapter type="Common.Logging.Simple.TraceLoggerFactoryAdapter, Common.Logging">
				<arg key="Level" value="ALL" /> <!-- Possible values are ALL, DEBUG, INFO, WARN, ERROR, FATAL, OFF -->
			</factoryAdapter>
		</logging>
	</common>

	<spring>
		<typeAliases>
			<!-- Web services aliases -->
			<alias name="WebServiceExporter" type="Spring.Web.Services.WebServiceExporter, Spring.Web" />
		</typeAliases>
		<parsers>
			<parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data" />
		</parsers>
		<context>
			<resource uri="~/Config/Aspects.xml" />
			<resource uri="~/Config/Web.xml" />
			<resource uri="~/Config/Services.xml" />

			<!-- TEST CONFIGURATION -->
			<resource uri="~/Config/Test/Services.xml" />
			<resource uri="~/Config/Test/Dao.xml" />

			<!-- PRODUCTION CONFIGURATION -->
			<!--
			<resource uri="~/Config/Production/Services.xml"/>
			<resource uri="~/Config/Production/Dao.xml"/>
			-->
		</context>
	</spring>

	<system.web>
		<httpModules>
			<add name="Spring" type="Spring.Context.Support.WebSupportModule, Spring.Web" />
		</httpModules>
		<httpHandlers>
			<add verb="*" path="*.aspx" type="Spring.Web.Support.PageHandlerFactory, Spring.Web" />
			<add verb="*" path="*.asmx" type="Spring.Web.Services.WebServiceHandlerFactory, Spring.Web" />
			<add verb="*" path="ContextMonitor.ashx" type="Spring.Web.Support.ContextMonitor, Spring.Web" />
		</httpHandlers>
		<compilation defaultLanguage="c#" debug="true" />
		<customErrors mode="RemoteOnly" />
		<authentication mode="Windows" />
		<authorization>
			<allow users="*" />
		</authorization>
		<trace enabled="false" requestLimit="20" pageOutput="true" traceMode="SortByTime" localOnly="true" />
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes"
			cookieless="false" timeout="20" />
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" />
	</system.web>

	<databaseSettings>
		<add key="db.server" value="(local)" />
		<add key="db.user" value="springqa" />
		<add key="db.password" value="springqa" />
		<add key="db.schema" value="SpringAir" />
	</databaseSettings>

</configuration>