<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<spring>
    
		<context>
			<resource uri="config://spring/objects" />
		</context>

		<objects xmlns="http://www.springframework.net" xmlns:v="http://www.springframework.net/validation">

      <object type="TripForm.aspx" parent="standardPage">
        <property name="BookingAgent" ref="bookingAgent" />
        <property name="AirportDao" ref="airportDao" />
        <property name="TripValidator" ref="tripValidator" />
        <property name="Results">
          <dictionary>
            <entry key="displaySuggestedFlights" value="redirect:SuggestedFlights.aspx" />
          </dictionary>
        </property>
      </object>

      <object type="SuggestedFlights.aspx" parent="standardPage">
        <property name="BookingAgent" ref="bookingAgent" />
        <property name="Results">
          <dictionary>
            <entry key="reservationConfirmed" value="redirect:ReservationConfirmationPage.aspx" />
          </dictionary>
        </property>
      </object>

      <object type="ReservationConfirmationPage.aspx" parent="standardPage" />

		</objects>
	</spring>
</configuration>
