<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>

    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core"/>
    </sectionGroup>

    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    
  </configSections>

  <spring>

    <context>
      <resource uri="~/Config/Messaging.xml"/>
      <resource uri="~/Config/Handlers.xml"/>
      <resource uri="~/Config/ServiceStubs.xml"/>
    </context>

    <parsers>

      <parser type="Spring.Messaging.Ems.Config.EmsNamespaceParser, Spring.Messaging.Ems" />

    </parsers>


  </spring>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
        <arg key="showLogName" value="true" />
        <arg key="showDataTime" value="true" />
        <arg key="level" value="INFO" />
        <arg key="dateTimeFormat" value="yyyy/MM/dd HH:mm:ss:fff" />
      </factoryAdapter>
    </logging>
  </common>
  
</configuration>