<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>

    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>

  </configSections>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Simple.TraceLoggerFactoryAdapter, Common.Logging" />
    </logging>
  </common>

  <spring>
    <context>
      <resource uri="config://spring/objects" />
    </context>

    <objects xmlns="http://www.springframework.net">

      <object id="countingInterceptor"
              type="Spring.EnterpriseServices.ServicedComponentExporterTests+CountingMethodInterceptor, Spring.Services.Tests" />

      <object name="objectTest" type="Spring.Aop.Framework.ProxyFactoryObject, Spring.Aop">
        <property name="ProxyInterfaces">
          <list>
            <value>System.IComparable</value>
          </list>
        </property>
        <property name="InterceptorNames">
          <list>
            <idref local="countingInterceptor" />
          </list>
        </property>
      </object>
    </objects>

  </spring>

</configuration>
