<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>

  <spring>
    <context>
      <!-- library components access their process' app.config -->
      <resource uri="ServiceComponentExporterTests.TestServicedComponents.Services.xml" />
    </context>
  </spring>
</configuration>
