<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<log4net>
    <appender name="UdpAppender" type="log4net.Appender.UdpAppender">
        <param name="RemoteAddress" value="127.0.0.1" />
        <param name="RemotePort" value="8080" />
        <layout type="log4net.Layout.XmlLayout">
            <param name="Prefix" value="" /> 
        </layout>
    </appender>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%d [%t] %-5p %c{1} - %m%n" />
			</layout>
		</appender>
		<appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="tests.log" />
			<appendToFile value="true" />
			<maximumFileSize value="1024KB" />
			<maxSizeRollBackups value="4" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%d [%t] %-5p %c{1} [%x] - %m%n" />
			</layout>
		</appender>
    <appender name="OutputDebugString" type="log4net.Appender.OutputDebugStringAppender">
      <layout type="log4net.Layout.PatternLayout">
        <!-- <conversionPattern value="%t %l - %m%n" /> -->
        <conversionPattern value="%d{HH:mm:ss,fff} %-5p %c{2}(line:%L) - %m%n" />
      </layout>
    </appender>
		<root>
			<level value="ALL" />
			<!-- <appender-ref ref="ConsoleAppender" /> -->
			<appender-ref ref="FileAppender" />
      <appender-ref ref="OutputDebugString" />
      <appender-ref ref="UdpAppender" />
		</root>
		<!--
	  <logger name="Spring.Services">
		  <level value="ALL" />
      <appender-ref ref="OutputDebugString" />
	  </logger>	  
	  -->
	</log4net>
</configuration>
