<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
    </sectionGroup>
  </configSections>

  <!-- 
  Note that in-proc components must use a unique context name 
  to prevent clashes with the app's root context! 
  -->
  <spring>
    <context name="calculatorComponent">
      <resource uri="Config/services.xml" />
    </context>
  </spring>
</configuration>
