<?xml version="1.0"?>
<configuration>
    <spring>
        <context>
            <resource uri="config://spring/objects"/>
        </context>
        <objects xmlns="http://www.springframework.net">

            <!-- "local" object definition of a control - overrides definition from the page's context! -->
            <object type="CustomControl.ascx">
                <property name="Message" value="This is the overridden message from ControlB"/>
            </object>

            <!-- 
            Note that the definition below does *not* hide "Default.aspx" from the parent context because
            internally page definitions are stored by their virtual path
            -->
            <object type="Default.aspx">
                <property name="Message" value="This is ContextB's page message!" />
                <property name="GlobalMessage" ref="GlobalMessage" /> <!-- 'GlobalMessage' is inherited from the parent context -->
            </object>
        </objects>
    </spring>
</configuration>
