<?xml version="1.0"?>
<configuration>
  <spring>
    <context>
      <resource uri="config://spring/objects"/>
    </context>
    <objects xmlns="http://www.springframework.net">
      
      <!-- use the filename of your Page for the 'type' attribute to configure DI for a Page -->
      <object type="Default.aspx">
        <property name="Title" value="Dependency Injection - Hello World Sample"/>
        <property name="Message">
          <value>This very simple page demonstrates how to inject dependencies into a Page.</value>
        </property>
      </object>

      <!-- use the filename of your UserControl for the 'type' attribute to configure DI for a UserControl -->
      <object type="CustomControl.ascx">
        <property name="AnotherMessage" value="This very simple control demonstrates how to inject dependencies into a UserControl."/>
      </object>

      <!-- use the typename as name to configure DI for any non-UserControl (Note: this will configure *all* TextBoxes!) -->
      <object name="System.Web.UI.WebControls.TextBox" abstract="true">
        <property name="Text" value="initial text" />
      </object>

    </objects>
  </spring>
  <system.web>

  </system.web>
</configuration>
