<?xml version="1.0"?>
<configuration>
  <spring>
    <context>
      <resource uri="config://spring/objects"/>
    </context>
    <objects xmlns="http://www.springframework.net">
      
      <!-- use the filename of your Page for the 'type' attribute to configure DI for a Page -->
      <object type="Default.aspx">
        <property name="Title" value="Dependency Injection - Hello World Sample"/>
        <property name="Message">
          <value>This message you are reading was set using dependency injection.</value>
        </property>
      </object>

    </objects>
  </spring>
  <system.web>

  </system.web>
</configuration>
