<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net">

  <!-- Localization-related config objects -->
  <object id="cultureResolver" type="Spring.Globalization.Resolvers.SessionCultureResolver, Spring.Web" />
  
  <object id="localizer" type="Spring.Globalization.Localizers.ResourceSetLocalizer, Spring.Core" />
  
  <object id="messageSource" type="Spring.Context.Support.ResourceSetMessageSource, Spring.Core">
    <property name="ResourceManagers">
      <list>
        <value>Resources.Strings, App_GlobalResources</value>
      </list>
    </property>
    <property name="UseCodeAsDefaultMessage" value="true" />
  </object>

  <!-- Validation errors renderer configuration -->
  <object id="Spring.Web.UI.Controls.ValidationError" abstract="true">
    <property name="Renderer">
      <object type="Spring.Web.UI.Validation.IconValidationErrorsRenderer, Spring.Web">
        <property name="IconSrc" value="validation-error.gif"/>
      </object>
    </property>
  </object>

  <object id="Spring.Web.UI.Controls.ValidationSummary" abstract="true">
    <property name="Renderer">
      <object type="Spring.Web.UI.Validation.DivValidationErrorsRenderer, Spring.Web">
        <property name="CssClass" value="validationError"/>
      </object>
    </property>
  </object>

  <!-- Base page definition. All other pages inherit these settings -->
  <object id="standardPage" abstract="true">
    <property name="MasterPageFile" value="~/Web/StandardTemplate.master"/>
    <property name="CultureResolver" ref="cultureResolver"/>
    <property name="Localizer" ref="localizer"/>
    <property name="ScriptsRoot" value="~/Scripts" />
    <property name="CssRoot" value="~/Web/CSS"/>
    <property name="ImagesRoot" value="~/Web/Images"/>
  </object>

</objects>
