body {
  margin: 0px; 
  padding: 0px; 
  background-color: #dfeac1; 
  text-align: center;
}

.logo {
  position:relative;
  top:-8px;
  left:22px;
  float:left;
}

#ad {
  float:right;	
  position:relative;
  right: 22px;
  top:-8px;
}



.navigation {
  position:relative;
  left: 25px;
  font-family: Verdana, Arial, Helvetica, sans;
  font-size: 12px;
  color: #000000;
  text-decoration: none;
  width:150px;
}
.navigation a, .navigation a:active, .navigation a:visited {
  font-family: Verdana, Arial, Helvetica, sans;
  font-size: 12px;
  color: #7E7E7E;
  text-decoration: none;
}
.navigation a:hover {
  font-family: Verdana, Arial, Helvetica, sans;
  font-size: 12px;
  color: #000000;
  text-decoration: none; 
}


h4.navbar {
  position:relative;
  left: 0px;
  font-family: Verdana, Arial, Helvetica, sans;
  font-size: 12px;
  color: #5F5F5F;
  text-decoration: none;
  margin-bottom: 2px;
}
h1 {
  font-family: Verdana, Arial, Helvetica, sans;
  font-size: 14px;
  font-weight: normal;
  color: #90A720;
}
a, a:active, a:visited {
  font-family: Verdana, Arial, Helvetica, sans;
  font-size: 12px;
  color: #606060;
  text-decoration: underline;
}
a:hover {
  font-family: Verdana, Arial, Helvetica, sans;
  font-size: 12px;
  color: #000000;
}
b {
  font-family: Verdana, Arial, Helvetica, sans;
  font-size: 12px;
  font-weight: bold;
  color: #606060;
}
i {
  font-family: Verdana, Arial, Helvetica, sans;
  font-size: 12px;
  color: #606060;
}

table {
  font-family: Verdana, Arial, Helvetica, sans;
  font-size: 12px;
  color: #606060;
}
.news {
  border: 1px solid;
  border-color: #C9C9C9;
  padding: 12px;
  font-family: Verdana, Arial, Helvetica, sans;
  font-size: 12px;
  color: #606060;
  background-color: #F5F5F5;
  margin-top: 20px;
  margin-bottom: 20px;
}
.news b {
  font-family: Verdana, Arial, Helvetica, sans;
  font-size: 11px;
  font-weight: normal;
  color: #90A720;
}
.news u {
  font-family: Verdana, Arial, Helvetica, sans;
  font-size: 12px;
  font-weight: bold;
  color: #606060;
  text-decoration: none;
}
li {
  margin-bottom: 12px;
}

li.newslist {
  margin-bottom: 2px;
}

ul.newslist {
  margin-left: 10px;
  margin-top: 10px;
}
ul {
  margin-left: 25px;
  margin-top: 10px;
}