<?xml version="1.0"?>
<configuration>
    <spring>
        <context>
            <resource uri="config://spring/objects"/>
        </context>
        <objects xmlns="http://www.springframework.net">

            <object id="GlobalMessage" type="string">
                <constructor-arg index="0" value="The GlobalMessage's content" />
            </object>
            
            <!-- Define control "A" in the page's context (the context that is effectively used to configure the .aspx) -->
            <object type="ContextA/CustomControl.ascx">
                <property name="Message" value="This is the original message from ControlA"/>
            </object>

            <!-- 
            Note that the effective definition for ControlB is *not* defined here 
            because it is overridden in the web.config next to the control! 
            -->
            <object type="ContextB/CustomControl.ascx">
                <property name="Message" value="This is the original message from ControlB"/>
            </object>

        </objects>
    </spring>
</configuration>
