<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
    </sectionGroup>
    <section name="NameValues" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

  <NameValues>
    <add key="greeting" value="ciao"/>
  </NameValues>

</configuration>
