<?xml version="1.0"?>
<configuration>
	<spring>
		<context>
			<resource uri="config://spring/objects"/>
		</context>

		<objects xmlns="http://www.springframework.net">
<!-- define the currencyFormatter used for formatting the salary -->
			<object name="theCurrencyFormatter" type="Spring.Globalization.Formatters.CurrencyFormatter" />
		</objects>
	</spring>

</configuration>
