<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="spring">
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core"/>
    </sectionGroup>
  </configSections>

  <spring>
    <parsers>
      <parser type="Spring.Template.Velocity.Config.TemplateNamespaceParser, Spring.Template.Velocity.Castle" />
    </parsers>
  </spring>
  
</configuration>