<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="spring">
			<section name="context" type="Spring.Context.Support.WebContextHandler, Spring.Web" requirePermission="false"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" requirePermission="false"/>
    </sectionGroup>
		<sectionGroup name="common">
			<section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	
  <!-- to see logging output in the attached debugger -->
	<common>
		<logging>
			<factoryAdapter type="Common.Logging.Simple.TraceLoggerFactoryAdapter, Common.Logging">
				<arg key="Level" value="ALL"/>
			</factoryAdapter>
		</logging>
	</common>

  <spring>
    <context>
      <!-- Application services and data access that has been previously developed and tested-->
      <resource uri="assembly://App.DataAccess/App.DataAccess/data-access-config.xml"/>
      <resource uri="assembly://App.Service/App.Service/service-config.xml"/>
      <!-- Configuration of general -->
      <resource uri="~/Config/Web.xml"/>
    </context>
  </spring>
  
  <!-- Standard Web Configuration Section - Add Spring specific modules and handlers-->
  <system.web>

    <!--
    The following needs to be configured in order to enable Spring.NET Web Framework features
    -->
    <httpModules>
      <add name="Spring" type="Spring.Context.Support.WebSupportModule, Spring.Web"/>
      <!-- if using NHibernate 
      <add name="OpenSessionInView" type="Spring.Data.NHibernate.Support.OpenSessionInViewModule, Spring.Data.NHibernate21"/>
      -->
    </httpModules>
    <httpHandlers>
      <add verb="*" path="*.aspx" type="Spring.Web.Support.PageHandlerFactory, Spring.Web"/>
      <add verb="*" path="*.asmx" type="Spring.Web.Services.WebServiceHandlerFactory, Spring.Web"/>
      <add verb="*" path="ContextMonitor.ashx" type="Spring.Web.Support.ContextMonitor, Spring.Web"/>
    </httpHandlers>

    <pages>
      <controls>
        <add tagPrefix="spring" namespace="Spring.Web.UI.Controls" assembly="Spring.Web"/>
      </controls>
    </pages>
    
    <globalization culture="en-US" uiCulture="en-US"/>
		<customErrors mode="Off"/>
		<compilation debug="true">
		</compilation>

	</system.web>

</configuration>
