<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.WebContextHandler, Spring.Web"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
    </sectionGroup>
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Simple.TraceLoggerFactoryAdapter, Common.Logging">
        <arg key="level" value="ALL"/>
      </factoryAdapter>
    </logging>
  </common>
  <spring>
    <context>
      <resource uri="~/Config/Web.xml"/>
      <resource uri="config://spring/objects"/>
    </context>
    <objects xmlns="http://www.springframework.net">
      <object type="~/UserLogin.aspx"/>
    </objects>
  </spring>
  <appSettings>
    <add key="Name" value="SpringNetProvidersTest"/>
  </appSettings>
  <connectionStrings>
    <add name="MyLocalSQLServer" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|ASPNETDB.MDF;Integrated Security=SSPI;User Instance=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <httpModules>
      <add name="Spring" type="Spring.Context.Support.WebSupportModule, Spring.Web"/>
    </httpModules>
    <httpHandlers>
      <add verb="*" path="*.aspx" type="Spring.Web.Support.PageHandlerFactory, Spring.Web"/>
      <add verb="*" path="ContextMonitor.ashx" type="Spring.Web.Support.ContextMonitor, Spring.Web"/>
    </httpHandlers>
    <compilation debug="true" targetFramework="4.5.2"/>
    <authentication mode="Forms">
      <forms name="Login" loginUrl="UserLogin.aspx" timeout="20" protection="All"/>
    </authentication>
    <membership defaultProvider="mySqlMembershipProvider">
      <providers>
        <clear/>
        <add connectionStringName="" name="mySqlMembershipProvider" type="Spring.Web.Providers.MembershipProviderAdapter, Spring.Web"/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="mySqlRoleProvider">
      <providers>
        <clear/>
        <add connectionStringName="" name="mySqlRoleProvider" type="Spring.Web.Providers.RoleProviderAdapter, Spring.Web"/>
      </providers>
    </roleManager>
    <profile defaultProvider="mySqlProfileProvider">
      <providers>
        <clear/>
        <add name="mySqlProfileProvider" type="Spring.Web.Providers.ProfileProviderAdapter, Spring.Web" connectionStringName=""/>
      </providers>
      <properties>
        <add name="Greeting" type="String"/>
      </properties>
    </profile>
    <siteMap defaultProvider="myXmlSiteMapProvider">
      <providers>
        <clear/>
        <add name="myXmlSiteMapProvider" type="Spring.Web.Providers.SiteMapProviderAdapter, Spring.Web" siteMapFile=""/>
      </providers>
    </siteMap>
    <!---->
    <!--
    <healthMonitoring enabled="true">
      <providers>
        <add name="AspNetTextFileWebEventProvider" type="TextFileWebEventProvider" logFileName="~/App_Data/MyTest.txt"/>

      </providers>
      <rules>
        <add name="TestWS Application Lifetime Events"  eventName="All Events" provider="AspNetTextFileWebEventProvider" minInterval="00:00:01" minInstances="1" maxLimit="Infinite"/>
      </rules>
    </healthMonitoring>
-->
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add name="SpringModule" type="Spring.Context.Support.WebSupportModule, Spring.Web"/>
    </modules>
    <handlers>
      <add name="SpringPageHandler" verb="*" path="*.aspx" type="Spring.Web.Support.PageHandlerFactory, Spring.Web"/>
    </handlers>
  </system.webServer>
</configuration>