<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
    <configSections>
        <sectionGroup name="common">
            <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
        </sectionGroup>
        <sectionGroup name="spring">
            <section name="context" type="Spring.Context.Support.WebContextHandler, Spring.Web"/>
            <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
        </sectionGroup>
    </configSections>
    <common>
        <logging>
            <factoryAdapter type="Common.Logging.Simple.TraceLoggerFactoryAdapter, Common.Logging">
                <arg key="level" value="ALL"/>
            </factoryAdapter>
        </logging>
    </common>
    <spring>
        <context>
            <resource uri="~/Config/Web.xml"/>
            <resource uri="config://spring/objects"/>
        </context>
        <objects xmlns="http://www.springframework.net">
            <object type="~/UserLogin.aspx" />
        </objects>
    </spring>
    <appSettings>
        <add key="Name" value="SpringNetProvidersTest"/>
    </appSettings>
    <connectionStrings>
        <add name="MyLocalSQLServer"
             connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|ASPNETDB.MDF;Integrated Security=SSPI;User Instance=True"
             providerName="System.Data.SqlClient"
        />
    </connectionStrings>
    <system.web>
        <httpModules>
            <add name="Spring" type="Spring.Context.Support.WebSupportModule, Spring.Web"/>
        </httpModules>
        <httpHandlers>
            <add verb="*" path="*.aspx" type="Spring.Web.Support.PageHandlerFactory, Spring.Web"/>
            <add verb="*" path="ContextMonitor.ashx" type="Spring.Web.Support.ContextMonitor, Spring.Web"/>
        </httpHandlers>
        <compilation debug="true">
            <assemblies>
                <add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
            </assemblies>
        </compilation>
        <authentication mode="Forms">
            <forms name="Login" loginUrl="UserLogin.aspx" timeout="20" protection="All"/>
        </authentication>
        <membership defaultProvider="mySqlMembershipProvider">
            <providers>
                <clear/>
                <add connectionStringName="" name="mySqlMembershipProvider" type="Spring.Web.Providers.MembershipProviderAdapter, Spring.Web"/>
            </providers>
        </membership>
        <roleManager enabled="true" defaultProvider="mySqlRoleProvider">
            <providers>
                <clear/>
                <add connectionStringName="" name="mySqlRoleProvider" type="Spring.Web.Providers.RoleProviderAdapter, Spring.Web"/>
            </providers>
        </roleManager>
        <profile defaultProvider="mySqlProfileProvider">
            <providers>
                <clear/>
                <add name="mySqlProfileProvider" type="Spring.Web.Providers.ProfileProviderAdapter, Spring.Web" connectionStringName=""/>
            </providers>
            <properties>
                <add name="Greeting" type="String"/>
            </properties>
        </profile>
        <siteMap defaultProvider="myXmlSiteMapProvider">
            <providers>
                <clear/>
                <add name="myXmlSiteMapProvider" type="Spring.Web.Providers.SiteMapProviderAdapter, Spring.Web" siteMapFile=""/>
            </providers>
        </siteMap>
        <!---->
        <!--
    <healthMonitoring enabled="true">
      <providers>
        <add name="AspNetTextFileWebEventProvider" type="TextFileWebEventProvider" logFileName="~/App_Data/MyTest.txt"/>

      </providers>
      <rules>
        <add name="TestWS Application Lifetime Events"  eventName="All Events" provider="AspNetTextFileWebEventProvider" minInterval="00:00:01" minInstances="1" maxLimit="Infinite"/>
      </rules>
    </healthMonitoring>
-->
    </system.web>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false"/>

        <modules>
            <add name="SpringModule" type="Spring.Context.Support.WebSupportModule, Spring.Web"/>
        </modules>

        <handlers>
            <add name="SpringPageHandler" verb="*" path="*.aspx" type="Spring.Web.Support.PageHandlerFactory, Spring.Web"/>
        </handlers>
    </system.webServer>    
</configuration>
