$path: "/fonts/";

@font-face {
  font-family: "Metropolis";
  src: url($path + "metropolis/metropolis-regular-webfont.woff2")
      format("woff2"),
    url($path + "metropolis/metropolis-regular-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Metropolis";
  src: url($path + "metropolis/metropolis-bold-webfont.woff2") format("woff2"),
    url($path + "metropolis/metropolis-bold-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Metropolis";
  src: url($path + "metropolis/metropolis-extrabold-webfont.woff2")
      format("woff2"),
    url($path + "metropolis/metropolis-extrabold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url($path + "open-sans-v17-latin/open-sans-v17-latin-regular.eot"); /* IE9 Compat Modes */
  src: url($path + "open-sans-v17-latin/open-sans-v17-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url($path + "open-sans-v17-latin/open-sans-v17-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url($path + "open-sans-v17-latin/open-sans-v17-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url($path + "open-sans-v17-latin/open-sans-v17-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url($path + "open-sans-v17-latin/open-sans-v17-latin-regular.svg#OpenSans")
      format("svg"); /* Legacy iOS */
}
/* open-sans-italic - latin */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: url($path + "open-sans-v17-latin/open-sans-v17-latin-italic.eot"); /* IE9 Compat Modes */
  src: url($path + "open-sans-v17-latin/open-sans-v17-latin-italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url($path + "open-sans-v17-latin/open-sans-v17-latin-italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url($path + "open-sans-v17-latin/open-sans-v17-latin-italic.woff")
      format("woff"),
    /* Modern Browsers */
      url($path + "open-sans-v17-latin/open-sans-v17-latin-italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url($path + "open-sans-v17-latin/open-sans-v17-latin-italic.svg#OpenSans")
      format("svg"); /* Legacy iOS */
}
/* open-sans-600 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url($path + "open-sans-v17-latin/open-sans-v17-latin-600.eot"); /* IE9 Compat Modes */
  src: url($path + "open-sans-v17-latin/open-sans-v17-latin-600.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url($path + "open-sans-v17-latin/open-sans-v17-latin-600.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url($path + "open-sans-v17-latin/open-sans-v17-latin-600.woff")
      format("woff"),
    /* Modern Browsers */
      url($path + "open-sans-v17-latin/open-sans-v17-latin-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url($path + "open-sans-v17-latin/open-sans-v17-latin-600.svg#OpenSans")
      format("svg"); /* Legacy iOS */
}
/* open-sans-700 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url($path + "open-sans-v17-latin/open-sans-v17-latin-700.eot"); /* IE9 Compat Modes */
  src: url($path + "open-sans-v17-latin/open-sans-v17-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url($path + "open-sans-v17-latin/open-sans-v17-latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url($path + "open-sans-v17-latin/open-sans-v17-latin-700.woff")
      format("woff"),
    /* Modern Browsers */
      url($path + "open-sans-v17-latin/open-sans-v17-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url($path + "open-sans-v17-latin/open-sans-v17-latin-700.svg#OpenSans")
      format("svg"); /* Legacy iOS */
}
/* work-sans-regular - latin */
@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  src: url($path + "work-sans-v5-latin/work-sans-v5-latin-regular.eot"); /* IE9 Compat Modes */
  src: url($path + "work-sans-v5-latin/work-sans-v5-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url($path + "work-sans-v5-latin/work-sans-v5-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url($path + "work-sans-v5-latin/work-sans-v5-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url($path + "work-sans-v5-latin/work-sans-v5-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url($path + "work-sans-v5-latin/work-sans-v5-latin-regular.svg#WorkSans")
      format("svg"); /* Legacy iOS */
}
/* work-sans-700 - latin */
@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  src: url($path + "work-sans-v5-latin/work-sans-v5-latin-700.eot"); /* IE9 Compat Modes */
  src: url($path + "work-sans-v5-latin/work-sans-v5-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url($path + "work-sans-v5-latin/work-sans-v5-latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url($path + "work-sans-v5-latin/work-sans-v5-latin-700.woff")
      format("woff"),
    /* Modern Browsers */
      url($path + "work-sans-v5-latin/work-sans-v5-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url($path + "work-sans-v5-latin/work-sans-v5-latin-700.svg#WorkSans")
      format("svg"); /* Legacy iOS */
}
