$color: #111;
$colorLight: #999;
$colorInverse: #fff;
$linkColor: #086dc3;
$blueColor: #06c;
$secondaryColor: #6db33f;
$highlightColor: #80ea6e;
$backgroundLight: #ebf2f2;
$background: #fff;
$borderColor: #d9e9e9;
$borderColorLight: #ebf2f2;
$inputBorder: #000;
$fontFamily: "Open Sans", sans-serif;
$fontFamilySpecial: "Metropolis", sans-serif;
$fontFamilySpecial2: "Work Sans", sans-serif;
