<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core"/>
    </sectionGroup>
    <section name="connectionStringProperties" type="System.Configuration.NameValueSectionHandler"/>
    <section name="nHibernateConfigProperties" type="System.Configuration.NameValueSectionHandler"/>
    <section name="timeoutProperties" type="System.Configuration.NameValueSectionHandler" />
  </configSections>


  <spring>
    <context>
      <resource uri="config://spring/objects"/>
      <resource uri="assembly://Spring.Data.NHibernate5.NestedTxSuspension.Integration.Tests/Spring.Data.NHibernate5.NestedTxSuspension.Integration.Tests/Spring.Configuration.xml"/>
      <resource uri="assembly://Spring.Data.NHibernate5.NestedTxSuspension.Integration.Tests/Spring.Data.NHibernate5.NestedTxSuspension.Integration.Tests/Spring.NHibernate.xml"/>
    </context>
    <parsers>
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data"/>
      <parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data"/>
      <parser type="Spring.Aop.Config.AopNamespaceParser, Spring.Aop"/>
    </parsers>
    <objects xmlns="http://www.springframework.net">
      <object type="Spring.Objects.Factory.Config.PropertyPlaceholderConfigurer, Spring.Core">
        <property name="Order" value="1"/>
        <property name="ConfigSections" value="connectionStringProperties,nHibernateConfigProperties,timeoutProperties" />
      </object>
    </objects>
  </spring>
  <appSettings>
    <remove key="saltKey"/>    
    <add key="saltKey" value="" lockItem="true"/>       
  </appSettings>

  <connectionStringProperties>
    <add key="provider.active" value="SqlServer-4.0" />

    <add key="conn.active" value="Data Source=SPRINGQA;Database=Spring;User ID=springqa;Password=springqa;Trusted_Connection=False"/>    

  </connectionStringProperties>
  <nHibernateConfigProperties>
    <add key="hibernate.default_schema" value="dbo" />
    <add key="hibernate.command_timeout" value="360" />
  </nHibernateConfigProperties>
  <timeoutProperties>
    <add key="timeout.sqlCommand.ado" value="150" />
    <add key="timeout.sqlCommand.nhibernate" value="150" />
  </timeoutProperties>
  
  <system.web>
   
  </system.web>


  <runtime>

  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>