<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns='http://www.springframework.net' xmlns:db="http://www.springframework.net/database" xmlns:tx="http://www.springframework.net/tx" xmlns:aop="http://www.springframework.net/aop">

  <db:provider id="ActiveDbProvider" connectionString="${conn.active}" provider="${provider.active}" />

  <object id="Spring.Data.NHibernate.Generic.HibernateTemplate" type="Spring.Data.NHibernate.Generic.HibernateTemplate, Spring.Data.NHibernate5">
    <property name="SessionFactory" ref="Spring.Data.NHibernate.LocalSessionFactoryObject" />
    <property name="TemplateFlushMode" value="Auto" />
    <property name="CacheQueries" value="true" />
  </object>
  
  <tx:advice id="transactionAdvice" transaction-manager="Spring.Transaction.IPlatformTransactionManager" />

  <object type="Spring.Aop.Framework.AutoProxy.InheritanceBasedAopConfigurer, Spring.Aop">
    <property name="Order" value="2" />
    <property name="ProxyDeclaredMembersOnly" value="false" />
    <property name="ObjectNames">
      <list>
        <value>*Service*</value>
      </list>
    </property>
    <property name="InterceptorNames">
      <list>
        <value>transactionAdvice</value>
      </list>
    </property>
  </object>

  <object id="IService1" type="Spring.Data.NHibernate5.NestedTxSuspension.Integration.Tests.Service1, Spring.Data.NHibernate5.NestedTxSuspension.Integration.Tests">
    <property name="HibernateTemplate" ref="Spring.Data.NHibernate.Generic.HibernateTemplate" />
  </object>

  <object id="IService2" type="Spring.Data.NHibernate5.NestedTxSuspension.Integration.Tests.Service2, Spring.Data.NHibernate5.NestedTxSuspension.Integration.Tests">
    <property name="HibernateTemplate" ref="Spring.Data.NHibernate.Generic.HibernateTemplate" />
  </object>
</objects>
