<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns='https://www.springframework.net' xmlns:db="https://www.springframework.net/database" xmlns:tx="https://www.springframework.net/tx" xmlns:aop="https://www.springframework.net/aop">


  <object id="Spring.Transaction.IPlatformTransactionManager" type="Spring.Data.NHibernate.HibernateTxScopeTransactionManager, Spring.Data.NHibernate5">
    <property name="DbProvider" ref="ActiveDbProvider"/>
    <property name="SessionFactory" ref="Spring.Data.NHibernate.LocalSessionFactoryObject"/>
  </object>


</objects>
