<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net" xmlns:db="http://www.springframework.net/database">
  <description>Dependency Injection for NHibernate Session</description>

  <object id="Spring.Data.NHibernate.LocalSessionFactoryObject" type="Spring.Data.NHibernate.LocalSessionFactoryObject, Spring.Data.NHibernate5">
    <property name="DbProvider" ref="ActiveDbProvider"/>
  
    <property name="HibernateProperties">
      <dictionary>
        <entry key="dialect" value="NHibernate.Dialect.MsSql2008Dialect" />
        <entry key="connection.driver_class" value="NHibernate.Driver.SqlClientDriver" />
        <entry key="connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />        
        <entry key="connection.isolation" value="ReadCommitted" />
        <entry key="adonet.batch_size" value="10" />
        <entry key="show_sql" value="false" />
        <entry key="prepare_sql" value="true" />
        <entry key="command_timeout" value="360" />
        <entry key="max_fetch_depth" value="3" />
        <entry key="default_schema" value="dbo" />        
        <entry key="bytecode.provider" value="lcg" />
        <entry key="proxyfactory.factory_class" value="NHibernate.Bytecode.DefaultProxyFactoryFactory, NHibernate"/>
        <entry key="transaction.factory_class" value="NHibernate.Transaction.AdoNetTransactionFactory, NHibernate"/>
      </dictionary>
    </property>
   
    <property name="ExposeTransactionAwareSessionFactory" value="true" />

    <property name="MappingResources">
      <list>
        <value>assembly://Spring.Data.NHibernate5.NestedTxSuspension.Integration.Tests/Spring.Data.NHibernate5.NestedTxSuspension.Integration.Tests/Mappings.hbm.xml</value>
      </list>
    </property>

  </object>

  <object id="NHibernate.Cfg.Configuration"  type="Spring.Objects.Factory.Config.PropertyRetrievingFactoryObject, Spring.Core">
    <property name="TargetObject" ref="&amp;Spring.Data.NHibernate.LocalSessionFactoryObject"/>
    <property name="TargetProperty" value="Configuration"/>
  </object>

</objects>