<?xml version="1.0"?>
<configuration>
    <spring>
        <context>
            <resource uri="config://spring/objects"/>
        </context>
        <objects xmlns="http://www.springframework.net">

            <object type="Master.master">
                <property name="Results">
                    <dictionary>
                        <entry key="start" value="redirect:Default.aspx" />
                    </dictionary>
                </property>
            </object>

            <object name="standardPage" abstract="true">
                <property name="MasterPageFile" value="Master.master" />
            </object>

            <!-- use the filename of your Page for the 'type' attribute to configure DI for a Page -->
            <object type="Default.aspx" parent="standardPage">
                <property name="Title" value="Navigation Flow Sample - Start Page"/>
                <property name="Results">
                    <dictionary>
                        <entry key="ok" value="redirect:Ok.aspx?age=%{Age}" />
                        <entry key="invalid_input" value="transfer:InvalidInput.aspx?input=%{Args['input']}" />
                    </dictionary>
                </property>
            </object>

            <object type="InvalidInput.aspx" parent="standardPage">
                <property name="Title" value="Navigation Flow Sample - Invalid Input Page"/>
                <property name="Results">
                    <dictionary>
                        <!-- altough Master.master defines a 'start' result, you can always override it -->
                        <entry key="start" value="redirect:Default.aspx?fromInvalidInput=true" />
                    </dictionary>
                </property>
            </object>

            <!-- 
            Ok.aspx doesn't have an explicit results. Instead it relies on "bubbling" results up the hierarchy,
            in our case up to Master.master (see above)
            -->
            <object type="Ok.aspx" parent="standardPage">
                <property name="Title" value="Navigation Flow Sample - Done"/>                
                <property name="Results">
                    <dictionary>
                    </dictionary>
                </property>
            </object>

        </objects>
    </spring>
    <system.web>

    </system.web>
</configuration>
