<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>

  <spring>

    <context>
      <resource uri="config://spring/objects" />
    </context>

    <objects xmlns="http://www.springframework.net">

      <object name="messageSource" type="Spring.Context.Support.ResourceSetMessageSource, Spring.Core">
        <property name="resourceManagers">
          <list>
            <value>Spring.IocQuickStart.AppContext.Images, Spring.IocQuickStart.AppContext</value>
            <ref object="myResourceManager" />
          </list>
        </property>
      </object>

      <object name="myResourceManager" 
              type="Spring.Objects.Factory.Config.ResourceManagerFactoryObject, Spring.Core">
        <property name="baseName" value="Spring.IocQuickStart.AppContext.MyResource" />
        <property name="assemblyName" value="Spring.IocQuickStart.AppContext" />
      </object>

    </objects>
  
  </spring>

</configuration>
