name: ci

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'doc/**'
      - '*.md'

  pull_request:
    branches:
      - main
    paths-ignore:
      - 'doc/**'
      - '*.md'
      - 'website/**'

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0
      - uses: actions/checkout@v5
      - name: Run './build.cmd ci'
        run: ./build.cmd ci

  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0
      - uses: actions/checkout@v5
      - name: Run './build.cmd ci'
        run: ./build.sh ci

