name: ci

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'doc/**'
      - '*.md'

  pull_request:
    branches:
      - main
    paths-ignore:
      - 'doc/**'
      - '*.md'

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run './build.cmd ci'
        run: ./build.cmd ci

  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run './build.cmd ci'
        run: ./build.sh ci

  publish:
    runs-on: ubuntu-latest
    needs: [ build-windows, build-linux ]
    steps:
      - uses: actions/checkout@v2
      - name: Publish
        run: ./build.sh publish
