name: publish

on:
  push:
    tags:
      - 'v*.*.*'

jobs:

  publish:
    runs-on: windows-latest
    steps:
      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0
      - uses: actions/checkout@v5
      - name: Publish
        run: ./build.cmd test publish
        env:
          NuGetApiKey: ${{ secrets.NUGET_API_KEY }}
